XLAYER_RPC_URL=
XLAYER_CHAIN_ID=196
ANVIL_RPC_URL=http://127.0.0.1:8545
PRIVATE_KEY=
DEPLOYMENT_NETWORK=xlayer
GIT_COMMIT=
DEPLOYED_AT=
TEAM_MULTISIG=
UNISWAP_V4_POOL_MANAGER=
UNISWAP_V4_POSITION_MANAGER=
LP_RECIPIENT=
MIGRATION_TARGET=
XLAYER_V4_HOOKS=0x0000000000000000000000000000000000000000
XLAYER_V4_POOL_FEE=3000
XLAYER_V4_TICK_SPACING=60
XLAYER_V4_TICK_LOWER=-887220
XLAYER_V4_TICK_UPPER=887220
XLAYER_V4_MIGRATION_LIQUIDITY=1000000000000000000
XLAYER_V4_HOOK_DATA=
FACTORY=
TOKEN=
TOKEN_NAME=Demo
TOKEN_SYMBOL=DEMO
METADATA_URI=ipfs://demo
SOCIAL_URI=
RECIPIENT=
OKB_IN=1000000000000000000
TOKENS_IN=1000000000000000000
MIN_TOKENS_OUT=
MIN_OKB_OUT=
ALLOW_ZERO_MIN_OUT=false
EXPECTED_CHAIN_ID=31337
GRADUATION_BUY_SIZE=10000000000000000000
MIGRATION_DEADLINE_SECONDS=3600
