XLAYER_RPC_URL=
XLAYER_CHAIN_ID=196
ANVIL_RPC_URL=http://127.0.0.1:8545
PRIVATE_KEY=
TEAM_MULTISIG=
SAT1_HOOK_DEPLOYER=
UNISWAP_V4_POOL_MANAGER=
UNISWAP_V4_POSITION_MANAGER=
MIGRATION_TARGET=
FACTORY=
TOKEN=
TOKEN_NAME=Demo
TOKEN_SYMBOL=DEMO
METADATA_URI=ipfs://demo
SOCIAL_URI=
RECIPIENT=
OKB_IN=1000000000000000000
TOKENS_IN=1000000000000000000
MIN_TOKENS_OUT=0
MIN_OKB_OUT=0
EXPECTED_CHAIN_ID=31337
GRADUATION_BUY_SIZE=10000000000000000000
MIGRATION_DATA=
