[submodule "backend"]
	path = backend
	url = git@github.com:TimingLock-Genius-Team/elur-api.git
[submodule "web"]
	path = web
	url = git@github.com:TimingLock-Genius-Team/satpad-web.git
[submodule "custom-hook"]
	path = custom-hook
	url = git@github.com:TimingLock-Genius-Team/elur-custom-hook.git
